.InfoBox{
    text-align: center;
}
.cardContainer{
    display: flex;
    justify-content: center;
}
.displayInfo{
    font-weight:500;
    color:black;
    font-size: 15px;
    
}
.information{
    background-color: rgb(174, 202, 222);
}